<html>
    <head>
        <meta charset ='utf-8'>
        <title>PDF Main</title>
    </head>
    <body>
        
        {% for student in object_list %}
        <a href="{% url 'students:students-detail' student.user.pk %}"> {{ student.user.username}}</a><br>
        {{ student.user.studentdetail.current_class }}<br />
        {{ student.user.studentdetail.class_teacher }}<br />
        <a href="{% url 'students:student-pdf-view' student.pk % }"> <button class="btn btn-prmary"> pdf </button></a><br />
        <hr>


        {% endfor %}
       
      
    </body>
    </html>