{% extends 'portal/portal-home.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content_body %}

		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="card-action coin-tabs mb-2">
						
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link"href="{% url 'students:student-pdf' %}">View PDF</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'students:student-csv' %}">Download CSV</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Booked">Graduated</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Canceled">Expelled</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Refund">Dropped</a>
							</li>
						</ul>
					</div>
					<div class="d-flex align-items-center mb-2 flex-wrap"> 
						<div class="guest-calendar">
							<div id="reportrange" class="pull-right reportrange" style="width: 100%">
								<span>Students List</span><b class="caret"></b>
								<i class="fas fa-chevron-down ms-3"></i>
							</div>
						</div>
						<div class="newest ms-3">
							<select class="default-select">
								<option>Newest</option>
								<option>Oldest</option>
							</select>
						</div>	
					</div>
				</div>
<!-- 				
					<button class="btn btn-outline-info" > <a href="{% url 'students:student-pdf' %}">PDF Format</a></button>
					<button class="btn btn-outline-info" > <a href="{% url 'students:student-csv' %}">CSV Format</a></button> -->


							<div class="row">
								<div ">	
									<div>

										<div style="float:left; padding:4px; width:30%;">
											<div><form>
											
												{{ studentdetail_filter.form|crispy}}
												
												<button class="btn btn-outline-secondary btn-sm mb-1 mt-1" type="submit">Filter by Class Teacher </button>
											</form>	</div>
										</div>
										
										<div style="float:left; padding:4px; width:30%;">
											<div ><form>
											
												{{ studentdetail_filter.form|crispy}}
												
												<button class="btn btn-outline-secondary btn-sm mb-1 mt-1" type="submit">Filter by Status</button>
											</form>	</div>
										</div>
										<div style="float:left; padding:4px; width:30%;">
											<div ><form>
											
												{{ studentdetail_filter.form|crispy}}
												
												<button class="btn btn-outline-secondary btn-sm mb-1 mt-1" type="submit">Filter by Current Class</button>
											</form>	</div>
										</div>
										
									  </div>		
					
					
			
					</div>
					</div>

					
				

				
					<div class="col-xl-12">
						<div class="card">
							
							<div class="card-body p-0">
								<div class="tab-content">	
									<div class="tab-pane active show" id="AllGuest">
										<div class="table-responsive">
											<table class="table card-table display mb-4 shadow-hover default-table table-responsive-lg" id="guestTable-all">
												<thead>
													<tr>
														<th class="bg-none">
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="" id="checkAll">
															</div>
														</th>
														<th>Student ID</th>
														<th>Admin Date</th>
														<th class="text-center">Class</th>
														<th class="text-center">Teacher ID</th>
														<th>Parent</th>
														
														<th class="text-center">Status</th>
													
														
													</tr>
												</thead>
												<tbody>
													{% for student in students %}
													<tr>
														<td>
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="">
															</div>
														</td>
														<td>
															<div class="concierge-bx d-flex align-items-center">
																<img class="me-3 rounded" src="{{user.profile.image.url}}" alt="">
																<div>
																	<h5 class="fs-16 mb-0 text-nowrap"><a class="text-black" href="{% url 'students:students-detail' student.pk %}">{{ student.user.username}}</a></h5>
																	<span class="text-primary fs-14">{{ student.user.first_name}} {{ student.user.last_name}}</span>
																</div>
															</div>
														</td>
														<td class="text-nowrap">
															<span>{{ student.user.studentdetail.date_admitted}}</span>
														</td>
														<td>
															<div>
																<h5 class="text-nowrap">{{ student.user.studentdetail.current_class}}</h5>
																
															</div>
														</td>
														<td>
															<div class="text-center">
																<h5 class="text-nowrap">{{ student.user.studentdetail.class_teacher }}</h5>
																<span></span>
															</div>
														</td>
														<td>
														<div>
															<h5 class="text-nowrap">{{ student.user.studentdetail.parent_phone }}</h5>
															<span></span>
														</div>
														
														</td>
														
														<td>
															<div class="text-center">
																{% if student.user.studentdetail.student_status == 'active' %}
																<span style="color:green"><b><i>Active</i></b></span>		
															
																{% elif student.user.studentdetail.student_status == 'dropped' %}
																<span style="color:red"><b><i>Dropped</i></b></span>	
																{% elif student.user.studentdetail.student_status == 'graduated' %}
																<span style="color:green"><b><i>Graduated</i></b></span>	
																{% elif student.user.studentdetail.student_status == 'expelled' %}
																<span style="color:grey"><b><i>Expelled</i></b></span>	
															</div>
														
														
															{% endif %}
														</td>
														
														
														{% endfor %}
													</tr>	
												</tbody>
											</table>
													
												

				{% if is_paginated %}

              {% if page_obj.has_previous%}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                 
                {% if page_obj.number == num %}
                  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
                  
                  {% endfor %}
                 
                  {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                  {% endif %}

            {% endif %}
	
	



										</div>	
									</div>	
									
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		{% endblock content_body %}
		<!--**********************************
			
