{% extends 'demoschool/admin-login.html'%}
{% load static %}

{% block content %}
<div class="ad-log-main">
    <div class="ad-log-in">
        <div class="ad-log-in-logo">
            <a href="index-2.html"><img src="{% static 'demoschool/images/logo.png' %}" alt=""></a>
            
            <div class="alert alert-info" style="margin-top:20px">
               
                
                
                An email has been sent with instructions to reset your password
            </div>
        </div>

    </div>

 
                   
      
        </div>
   
   </div
   
  {% endblock content %}