{% extends 'demoschool/index.html'%}
{% load static %}

    <!--SECTION START-->
    {% block section %}
    <section class="c-all h-quote">
        <div class="container">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="all-title quote-title qu-new">
                    <h2>Request an Admission</h2>
                    <p>Once you are on our campus, you are not only here to learn or study, you are in Saint D.M.A to compete in the field of academics..</p>
                    <p>Our students are trained to be the leaders in all aspects and areas that they find themselves..</p>
                    <p class="help-line">Help Line <span>000000000</span> </p> <span class="help-arrow pulse"><i class="fa fa-angle-right" aria-hidden="true"></i></span> </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="n-form-com admiss-form">
                    <div class="col s12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Full Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Enter your name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Phone:</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" placeholder="Enter your phone number" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Email Id:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" placeholder="Enter email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Your City:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Enter your city">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Last Class:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Enter your education">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">Select Class:</label>
                                <div class="col-sm-9">
                                    <select>
								<option>-- Select class --</option>
								<option>Senior Sec. School 3</option>
								<option>Senior Sec. School 2</option>							
								<option>Senior Sec. School 1</option>
								<option>Junior Sec. School 3</option>
								<option>Junior Sec. School 2</option>
								<option>Junior Sec. School 1</option>
								<option>Primary 5</option>
								<option>Primary 4</option>
								<option>Primary 3</option>
								<option>Primary 2</option>
							  </select>
                                </div>
                            </div>
                            <div class="form-group mar-bot-0">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <i class="waves-effect waves-light light-btn waves-input-wrapper" style=""><input type="submit" value="APPLY NOW" class="waves-button-input"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock section %}
    <!--SECTION END-->

