{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Schoolly Sch Mgt Sys.</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Schoolly Education Software for school management">
    <meta name="keyword" content="schoolly, education, software for, school, management">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="{% static 'portal/images/favicon.png' %}" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="{% static 'demoschool/css/font-awesome.min.css' %}">
    <!-- ALL CSS FILES -->
    <link href="{% static 'demoschool/css/materialize.css' %}" rel="stylesheet">
    <link href="{% static 'demoschool/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'demoschool/css/style.css' %}" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="{% static 'demoschool/css/style-mob.css' %}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
        }
        
        #myBtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 99;
          font-size: 18px;
          border: none;
          outline: none;
          background-color: rgb(228, 100, 100);
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
        }
        
        #myBtn:hover {
          background-color: #555;
        }
        </style>
</head>

<body>

    <!-- MOBILE MENU -->
    <section>
        <div class="ed-mob-menu">
            <div class="ed-mob-menu-con">
                <div class="ed-mm-left">
                    <div class="wed-logo">
                        <a href="#"><h2>Schoolly</h2>
						</a>
                    </div>
                </div>
                <div class="ed-mm-right">
                    <div class="ed-mm-menu">
                        <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                        <div class="ed-mm-inn">
                            <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                            <h4>Quick Menu</h4>
                            <ul>
                                <li><a href="{% url 'demoschool:demoschool' %}">Home</a></li>
                                <li><a href="{% url 'demoschool:about_us' %}">About us</a></li>
                                <li><a href="{% url 'demoschool:admission' %}">Admission</a></li>
                                <li><a href="{% url 'demoschool:infoblog' %}">Infoblog</a></li>
                                
                              
                                
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'curriculum:standard_list' %}">E-learning</a></li>
                         
                                <li><a class="nav-link scrollto" href="{% url 'users:user_logout' %}">Logout</a></li>
                                <li><a href="{% url 'portal:portal-home' %}">Dashboard</a></li>
                            
                                          
                                {% else %}
                                <li><a href="{% url 'demoschool:school_gallery' %}">Gallery</a>
                                </li>
                                 <li><a href="{% url 'users:login' %}">Portal-Login</a></li>
                                {% endif%}

                                <li><a href="{% url 'demoschool:contact_us' %}">Contact us</a></li>
                            </ul>
                            <h4>E-Learning</h4>
                            <ul>
                                <li><a href="{% url 'curriculum:standard_list' %}">Enter Class</a></li>
                     
                            </ul>
                            <h4>User Account</h4>
                            <ul>
                                <li><a href="{% url 'users:login' %}" data-toggle="modal" data-target="#modal1">Sign In</a></li>
                                <li><a href="{% url 'users:register' %}" data-toggle="modal" data-target="#modal2">Register</a></li>
                            </ul>

                            <h4>User Account</h4>
                            <ul>
                                <li><a href="{% url 'users:profile' %}">User profile</a></li>
                                                              
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--HEADER SECTION-->
    <section>
        <!-- TOP BAR -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">Contact: Abuja, Nigeria.</a>
                                </li>
                                <li><a href="#">Phone: +234 00000000000</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                <li><a href="{% url 'users:login' %}" data-toggle="modal" data-target="#modal1">Sign In</a>
                                </li>
                                <li><a href="{% url 'users:register' %}" data-toggle="modal" data-target="#modal2">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- LOGO AND MENU SECTION -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="{% url 'demoschool:demoschool' %}"><img src="{% static 'demoschool/images/logo.png' %}" alt="Schoolly" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="{% url 'demoschool:demoschool' %}">Home</a>
                                </li>
                                <li class="about-menu">
                                    <a href="{% url 'demoschool:about_us' %}" class="mm-arr">About us</a>
                                    <!-- MEGA MENU 1 -->
                                    <div class="mm-pos">
                                        <div class="about-mm m-menu">
                                            <div class="m-menu-inn">
                                                <div class="mm1-com mm1-s1">
                                                    <div class="ed-course-in">
                                                        <a class="course-overlay menu-about" href="{% url 'demoschool:admission' %}">
                                                            <img src="{% static 'demoschool/images/h-about.jpg' %}" alt="">
                                                            <span>Academics</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="mm1-com mm1-s2">
                                                    <p>The values and ethos of MySchool is to be a distinctive but inclusive School, 
                                                        with a strong sense of commitment to become a World Class</p>
                                                    <a href="#" class="mm-r-m-btn">Read more</a>
                                                </div>
                                                <div class="mm1-com mm1-s3">
                                                    <ul>
                                                        <li><a href="{% url 'curriculum:standard_list' %}">E-Learning</a></li>
                                                    
                                                        <li><a href="{% url 'demoschool:about_us' %}">About</a></li>
                                                        <li><a href="{% url 'demoschool:admission' %}">Admission</a></li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="mm1-com mm1-s4">
                                                    <ul>
                                                        <li><a href="{% url 'demoschool:school_gallery' %}">Gallery</a></li>
                                                        <li><a href="{% url 'demoschool:infoblog' %}">Student Center</a></li>                                                      
                                                        <li><a href="{% url 'demoschool:about_us' %}">Facilities</a></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="admi-menu">
                                    <a href="{% url 'demoschool:admission' %}" class="mm-arr">Admission</a>
                                    <!-- MEGA MENU 1 -->
                                    
                                </li>
                                <li><a href="{% url 'demoschool:infoblog' %}">InfoBlog</a></li>
                               
                               
                               
                      

                                {% if user.is_authenticated %}
                                <li><a href="{% url 'curriculum:standard_list' %}">All Courses</a></li>
                         
                                <li><a class="nav-link scrollto" href="{% url 'users:user_logout' %}">Logout</a></li>
                                <li><a href="{% url 'portal:portal-home' %}">Dashboard</a></li>
                            
                                          
                                {% else %}
                                <li><a href="{% url 'demoschool:school_gallery' %}">Gallery</a>
                                </li>
                                 <li><a href="{% url 'users:login' %}">Portal-Login</a></li>
                                {% endif%}

                                <li><a href="{% url 'demoschool:contact_us' %}">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="all-drop-down-menu">

                    </div>

                </div>
            </div>
        </div>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
                            <form>
                                <div class="sf-type">
                                    <div class="sf-input">
                                        <input type="text" id="sf-box" placeholder="Search ">
                                    </div>
                                    <div class="sf-list">
                                        <ul>
                                            <li><a href="{% url 'demoschool:school_gallery' %}">Facilities</a></li>
                                            <li><a href="{% url 'demoschool:about_us' %}">Aims and Objectives</a></li>
                                            <li><a href="{% url 'demoschool:school_gallery' %}">School Gallery</a></li>
                                            <li><a href="{% url 'demoschool:admission' %}">Admission</a></li>
                                            <li><a href="{% url 'demoschool:contact_us' %}">School Address</a></li>
                                                                             
                                
                                        </ul>
                                    </div>
                                </div>
                                <div class="sf-submit">
                                    <input type="submit" value="Search Course">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->
{% block section %}
    <!-- SLIDER -->
    <section>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item slider1 active">
                    <img src="{% static 'demoschool/images/slider/1.jpg' %}" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Welcome to <span>School</span></h2>
                        <p>MySchool-Academy is committed to an uncompromising Commitment</p>
                        <a href="{% url 'curriculum:standard_list' %}" class="bann-btn-1">All Courses</a><a href="#" class="bann-btn-2">Read More</a>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'demoschool/images/slider/2.jpg' %}" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>Admission open <span>2022</span></h2>
                        <p>We believe students thrive when they have a combination of courses they find challenging and interesting.</p>
                        <a href="{% url 'demoschool:admission' %}" class="bann-btn-1">Admission</a><a href="{% url 'demoschool:admission' %}" class="bann-btn-2">Read More</a>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'demoschool/images/slider/3.jpg' %}" alt="">
                    <div class="carousel-caption slider-con">
                        <h2>My-School <span>Academy</span></h2>
                        <p>MySchool is a fully inclusive school that promotes the well-being of every student through high-quality teaching.</p>
                        <a href="{% url 'curriculum:standard_list' %}" class="bann-btn-1">All Courses</a><a href="#" class="bann-btn-2">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-chevron-left slider-arr"></i>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-chevron-right slider-arr"></i>
            </a>
        </div>
    </section>

    <!-- QUICK LINKS -->
    <section>
        <div class="container">
            <div class="row">
                <div class="wed-hom-ser">
                    <ul>
                        <li>
                            <a href="{% url 'demoschool:admission' %}" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'demoschool/images/icon/h-ic1.png' %}" alt=""> Academics</a>
                        </li>
                        <li>
                            <a href="{% url 'demoschool:admission' %}" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'demoschool/images/icon/h-ic2.png' %}" alt=""> Admission</a>
                        </li>
                        <li>
                            <a href="{% url 'demoschool:about_us' %}" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'demoschool/images/icon/h-ic4.png' %}" alt=""> Facilities</a>
                        </li>
                        <li>
                            <a href="{% url 'demoschool:infoblog' %}" class="waves-effect waves-light btn-large wed-pop-ser-btn"><img src="{% static 'demoschool/images/icon/h-ic3.png' %}" alt=""> InfoTech</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- DISCOVER MORE -->
    <section>
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Discover <span>More</span> </h2>
                    <p> a dynamic and high-achieving E-learning school..</p>
                </div>
            </div>
            <div class="row">
                <div class="ed-course">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="about.html">
                                <img src="{% static 'demoschool/images/h-about.jpg' %}" alt="">
                                <span>Academics</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'demoschool:admission' %}">
                                <img src="{% static 'demoschool/images/h-adm1.jpg' %}" alt="">
                                <span>Admission</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'demoschool:admission' %}">
                                <img src="{% static 'demoschool/images/h-cam.jpg' %}" alt="">
                                <span>Students profile</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'demoschool:admission' %}">
                                <img src="{% static 'demoschool/images/h-res.jpg' %}" alt="">
                                <span>Research & Education</span>
                            </a>
                        </div>
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- POPULAR COURSES -->
    <section class="pop-cour">
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Our <span>Values</span></h2>
                    <p>We provide our students with a caring, safe and secure structured, and disciplined consciousness.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            {% comment %} <div class="col-md-3"> <img src="{% static 'demoschool/images/course/sm-1.jpg' %}" alt=""> </div> {% endcomment %}
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="{% url 'demoschool:infoblog' %}">
                                    <h3>Gifted / Talented Students</h3>
                                </a>
                                <h4>Gifted and talented students are our pride</h4>
                                <p>The Academy is committed to providing an extended and flexible curriculum for gifted and talented students. </p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="{% url 'demoschool:infoblog' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Read More</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            {% comment %} <div class="col-md-3"> <img src="{% static 'demoschool/images/course/sm-2.jpg' %}" alt=""> </div> {% endcomment %}
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="{% url 'demoschool:infoblog' %}">
                                    <h3>Special Educational Need</h3>
                                </a>
                                <h4>Promoting Skills</h4>
                                <p>MySchool is a fully inclusive school that promotes the well-being of every student..</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="{% url 'demoschool:infoblog' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Read More</a> </li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        
                        <!--POPULAR COURSES-->
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            {% comment %} <div class="col-md-3"> <img src="{% static 'demoschool/images/course/sm-5.jpg' %}" alt=""> </div> {% endcomment %}
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="{% url 'demoschool:infoblog' %}">
                                    <h3>Our Goal</h3>
                                </a>
                                <h4>Your dream school, our pool</h4>
                                <p>The Academy is committed to providing an extended and flexible curriculum for gifted and talented students. </p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="{% url 'demoschool:infoblog' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Read More</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            {% comment %} <div class="col-md-3"> <img src="{% static 'demoschool/images/course/sm-6.jpg' %}" alt=""> </div> {% endcomment %}
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="{% url 'demoschool:infoblog' %}">
                                    <h3>Our Vision</h3>
                                </a>
                                <h4>Technology / </h4>
                                <p>To develop and mentor the leadership potentials in students to produce an impeccable, selfless but self sustaining attitude for World leadership.</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="{% url 'demoschool:infoblog' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i> Read More</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--POPULAR COURSES-->
                        
                        </div>
                        <!--POPULAR COURSES-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- UPCOMING EVENTS -->
    <section>
        <div class="container com-sp pad-bot-0">
            <div class="row">
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-1">
                        <div class="ho-lat-ev">
                            <h4>Testimonials</h4>
                            <p>What our parents and students are saying.</p>
                        </div>
                    </div>
                    <div class="ho-event ho-event-mob-bot-sp">
                        <ul>
                            <li>
                                <div class="ho-ev-date"><span><img src="{% static 'demoschool/images/parent1.png' %}"></span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="#">
                                        <h4>I love MySchool</h4>
                                    </a>
                                    <p>The School is the best I've since, disciplined and consistent.</p>
                                    <span>- "Mr. John Maxwell-parent"</span>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="ho-ev-date"><span><img src="{% static 'demoschool/images/parent1.png' %}"></span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="#">
                                        <h4>Standard Academics</h4>
                                    </a>
                                    <p>Thank you My Schoolly</p>
                                    <span>- "Mrs. Chioma Adewale-parent"</span>
                                </div>
                            </li>
                            <li>
                                <div class="ho-ev-date"><span><img src="{% static 'demoschool/images/parent1.png' %}"></span>
                                </div>
                                <div class="ho-ev-link">
                                    <a href="#">
                                        <h4>MySchool is the best</h4>
                                    </a>
                                    <p>Thank you for giving me the best education, thank you.</p>
                                    <span>- " Marian Obeh - student"</span>
                                </div>
                            </li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-2">
                        <div class="ho-lat-ev">
                            <h4>Facilities</h4>
                            <p>MySchool boast of world standard facilities.</p>
                        </div>
                    </div>
                    <div class="ho-event ho-event-mob-bot-sp">
                        <ul>
                            <li>
                                <div class="ho-ev-img"><img src="{% static 'demoschool/images/event/1.jpg' %}" alt="">
                                </div>
                                <div class="ho-ev-link">
                                    <a href="#">
                                        <h4>CCTV Cameras,</h4>
                                    </a>
                                    <p>Health Care Service, Projectors</p>
                                    
                                    
                                </div>
                            </li>
                           
                            <li>
                                <div class="ho-ev-img"><img src="{% static 'demoschool/images/event/3.jpg' %}" alt="">
                                </div>
                                <div class="ho-ev-link">
                                    <a href="#">
                                        <h4>CBT Center</h4>
                                    </a>
                                    <p>E-Library, Laboratory</p>
                                    
                                </div>
                            </li>
                            <li>
                                <div class="ho-ev-img"><img src="{% static 'demoschool/images/event/4.jpg' %}" alt=""></div>
                                <div class="ho-ev-link">
                                    <a href="#">
                                        <h4>Uninterrupted Power.</h4>
                                    </a>
                                    <p>Skill Acquisition Center</p>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <!--<div class="ho-ex-title">
							<h4>Upcoming Event</h4>
						</div>-->
                    <div class="ho-ev-latest ho-ev-latest-bg-3">
                        <div class="ho-lat-ev">
                            <h4>Inquiry & Complaint</h4>
                            <p>Submit your enquiry and complaint, chose the right form.</p>
                        </div>
                    </div>
                    <div class="ho-st-login">
                        <ul class="tabs tabs-hom-reg">
                            <li class="tab col s6"><a href="#hom-vijay">Inquiry</a>
                            </li>
                            <li class="tab col s6"><a href="#hom_log">Complaint</a>
                            </li>
                        </ul>
                        <div id="hom-vijay" class="col s12">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate">
                                        <label>User name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate">
                                        <label>Email id</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" class="validate">
                                        <label>Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" class="validate">
                                        <label>Confirm password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="submit" value="Submit" class="waves-effect waves-light light-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="hom_log" class="col s12">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate">
                                        <label>Student ID</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="text" class="validate">
                                        <label>Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" class="validate">
                                        <label>Class</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="password" class="validate">
                                        <label>Short description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="submit" value="Submit" class="waves-effect waves-light light-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- NEWS AND EVENTS -->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="con-title">
                    <h2>News and <span>Events</span></h2>
                    <p>Our students are trained to be the leaders in all aspects and areas that they find themselves..</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="bot-gal h-gal ho-event-mob-bot-sp">
                        <h4>Photo Gallery</h4>
                        <ul>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/8.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/9.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/10.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/11.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/1.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/2.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/3.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/4.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/5.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/6.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/7.jpg' %}" alt="">
                            </li>
                            <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/8.jpg' %}" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot-gal h-vid ho-event-mob-bot-sp">
                        <h4>Video Gallery</h4>
                        <iframe src="https://www.youtube.com/embed/ymA81wkhpr4?autoplay=0&amp;showinfo=0&amp;controls=0" allowfullscreen></iframe>
                        <h5>School Anthem</h5>
                        <p>Maecenas finibus neque a tellus auctor mattis. Aliquam tempor varius ornare. Maecenas dignissim leo leo, nec posuere purus finibus vitae.</p>
                        <p>Quisque vitae neque at tellus malesuada convallis. Phasellus in lectus vitae ex euismod interdum non a lorem. Nulla bibendum. Curabitur mi odio, tempus quis risus cursus.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bot-gal h-blog ho-event">
                        <h4>News & Event</h4>
                        <div class="ho-event">
                            <ul>
                                <li>
                                    <div class="ho-ev-date"><span>07</span><span>jan,2022</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="events.html">
                                            <h4>Latinoo College Expo 2022</h4>
                                        </a>
                                        <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-date"><span>12</span><span>jan,2022</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="events.html">
                                            <h4>Training at Team Fabio Clemente</h4>
                                        </a>
                                        <p>Nulla at velit convallis venenatis.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-date"><span>26</span><span>jan,2022</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="events.html">
                                            <h4>Nulla at velit convallis</h4>
                                        </a>
                                        <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ho-ev-date"><span>18</span><span>jan,2022</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="events.html">
                                            <h4>Admissions Information Session and Tour</h4>
                                        </a>
                                        <p>Nulla at velit convallis, venenatis lacus quis, efficitur lectus.</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock section %}

    <!-- FOOTER COURSE BOOKING -->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="{% static 'portal/images/logo.png' %}" alt="myschool">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>Admission is open</h4>
                            <p>Make inquiry about our admission</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="{% url 'demoschool:admission' %}">Admission</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">

            <div class="row wed-foot-link">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Explore Our School</h4>
                    <ul>
                        <li><a href="{% url 'curriculum:standard_list' %}">E-Learning</a></li>
                        <li><a href="{% url 'demoschool:infoblog' %}">School Blog</a></li>
                        <li><a href="{% url 'demoschool:infoblog' %}">Students Center</a></li>
              
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="{% url 'demoschool:demoschool' %}">Home</a></li>
                        <li><a href="{% url 'demoschool:about_us' %}">About Us</a></li>
                        <li><a href="{% url 'demoschool:school_gallery' %}">School Gallery</a></li> 
                        <li><a href="{% url 'demoschool:admission' %}">Admission</a></li>                        
               
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>HELP & SUPPORT</h4>
                    <ul>
                        <li><a href="#">Contact Us</a>
                        </li>
                        <li><a href="{% url 'demoschool:contact_us' %}>Contact us</a>
                        </li>
                        <li><a href="#">Feedback</a>
                        </li>
                        <li><a href="#">FAQs</a>
                        </li>
                        <li><a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Our address / our address <br>our address
                        
                    <br />Phone: <a href="#!">+234 00000000000</a><br />
                    Email: <a href="#!">contact@schoolly.ng</a></p>
                </div>
                <div class="col-md-4">
                    <h4>My Schoolly</h4>
                    <ul>
                        <li><a href="#"><img src=" {% static 'demoschool/images/government.png' %}"></span></a>
                        </li>
                        <li><a href="#"><img src=" {% static 'demoschool/images/approved.png' %}"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- COPY RIGHTS -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                   <a target="_blank" href="https://www.schoolly.ng"><small>Schoolly - Designed by: Fizcos Infotech</small></a>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
    <section>
        <!-- LOGIN SECTION -->
        <div id="modal1" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'demoschool/images/cancel.png' %}" alt="" />
                    </a>
                    <h4>Login</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="s12 log-ch-bx">
                                <p>
                                    <input type="checkbox" id="test5" />
                                    <label for="test5">Remember me</label>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- REGISTER SECTION -->
        <div id="modal2" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello...</h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'demoschool/images/cancel.png' %}" alt="" />
                    </a>
                    <h4>Create an Account</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name1" class="validate">
                                <label>User name</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="email" class="validate">
                                <label>Email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input type="password" class="validate">
                                <label>Confirm password</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- FORGOT SECTION -->
        <div id="modal3" class="modal fade" role="dialog">
            <div class="log-in-pop">
                <div class="log-in-pop-left">
                    <h1>Hello... </h1>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <h4>Login with social media</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                        </li>
                        <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                </div>
                <div class="log-in-pop-right">
                    <a href="#" class="pop-close" data-dismiss="modal"><img src="{% static 'demoschool/images/cancel.png' %}" alt="" />
                    </a>
                    <h4>Forgot password</h4>
                    <p>Don't have an account? Create your account. It's take less then a minutes</p>
                    <form class="s12">
                        <div>
                            <div class="input-field s12">
                                <input type="text" data-ng-model="name3" class="validate">
                                <label>User name or email id</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
                        </div>
                        <div>
                            <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="{% static 'demoschool/js/main.min.js' %}"></script>
    <script src="{% static 'demoschool/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'demoschool/js/materialize.min.js' %}"></script>
    <script src="{% static 'demoschool/js/custom.js' %}"></script>


    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>
        
</body>


</html>