{% extends 'demoschool/index.html'%}
{% load static %}

{% block section %}

 
    <!--SECTION START-->
    <section>
        <div class="container com-sp">
            <div class="row">
                <div class="cor about-sp">
                    <div class="ed-about-tit">
                        <div class="con-title">
                            <h2>About Our <span> School</span></h2>
                            <p>Our students are trained to be the leaders in all aspects and areas that they find themselves..</p>
                        </div>
                        <div>
                            <div class="ho-event pg-eve-main pg-blog">
                                <ul>
                                    <li>
                                        <div class="ho-ev-date pg-eve-date"><span>Est.</span><span>2015</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="#">
                                                <h4>Aims & Objectives</h4>
                                            </a>
											<img src="{% static 'demoschool/images/blog/6.jpg' %}" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
												
													</li>
												</ul>
											</div>
                                            <p>
                                                To Provide First Class Discipline/E-Learning Opportunity for future Leaders: 
                                                    MySchool was established with the aim of training and providing a foundational 
                                                    structure for the raising of future leaders for the World that has become so 
                                                    engulfed in sin and corruption today. Our dream is to raise world-class 
                                                    disciplined and God-fearing Children that CAN NEVER be lured, indoctrinated, 
                                                    forced, brainwashed, or bribed into any form of crime/ sin or influenced 
                                                    into being a menace and terror to the society.<br /><br />
                                                To excel to be one of the best Schools in the World in learning, Character molding, 
                                                    and Discipline for leadership training.<br /><br />
                                                To achieve this, we will strive to affiliate our School with great Christian Colleges 
                                                    in other parts of the World including high Schools and Universities especially in America 
                                                    to secure easy admission for our graduates.<br /><br />
                                                To run Cambridge, City and Guilds, NECO/WAEC,  O’LEVEL, SAT/TOEFL, GCE, A’LEVEL, CAMBRIDGE and 
                                                    other international examinations. Our School is co-educational and we are committed to excellence. <br /><br />
                                                Our Dream is to become Nigeria's best Technical school with Hi-Technology, C.B.T Center and E-learning standards.<br /><br />
                                            </p>                                    
                                        </div>
                                    
                                    <li>
                                        <div class="ho-ev-date pg-eve-date"><span>MySchool</span><span>since,2015</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Ethos & Values</h4>
                                            </a>
											<img src="{% static 'demoschool/images/blog/2.jpg' %}" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
											
													</li>
												</ul>
											</div>
                                            <p>
                                                The values and ethos of MySchool is to be a distinctive but inclusive School, with a 
                                                strong sense of commitment to become a World Class leadership institute poised 
                                                with a strong sense of perfecting World leadership in holiness with the fear of God.<br /><br />
                                                We work closely with The Redeem Church to inculcate the highest level of morality in academics, 
                                                leadership, and social success to all and members of the school learning community; 
                                                increasing opportunities to specialize in sustainable leadership traits development.<br /><br />
                                                We are committed to monitoring our Students from cradle to grave, molding them from followers to 
                                                leaders and influencing them from ordinary students to extraordinary leaders, above all from mere 
                                                humans to Godly saints. We value our Students from inception till old age and have a strong 
                                                commitment to developing talents within them nursing positive attitudes for extraordinary altitudes 
                                                and values. We believe these are the cornerstones of successful learning and excellent World leadership.<br /><br />
                                                We provide a broad and complete co-educational, high-quality education with an added focus on high morality 
                                                for World Leadership. We strive to develop our students spiritually, morally, and socially as well as 
                                                intellectually and physically, so that our students make a great value needed for world peace and impeccable 
                                                idols for the society of their generation.

                                            </p>
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-date pg-eve-date"><span>EST.</span><span>2015</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Our Goal</h4>
                                            </a>
											<img src="{% static 'demoschool/images/blog/3.jpg' %}" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													
													</li>
												</ul>
											</div>
                                            <p>
                                                Your Dream School for your child is far less than our Goal Pool set for the golden 
                                                school, MySchool-Academy is a place where gifted children are incubated, trained,
                                                 and character molded in preparation to take up leadership roles in society.<br /><br />
                                                 MySchool was established for the sole purpose of training ordinary children and followers 
                                                 to become extraordinary adults and leaders. The aim of which is to communicate in 
                                                 principle to influence alien sinners to become Heavenly Saints, hope threatened 
                                                 people from their families to the salt of the tasteless world and the light to 
                                                 brighten the ever continuously darkened universe.<br /><br />
                                                 It was established to transform the mediocre out of Mediocrity stock.<br /><br />
                                                 MySchool is a leadership Training school established to cover up those areas where 
                                                 there are loopholes in the present educational system by providing a Total 
                                                 Quality Education (TQE) that will be relevant to the yearnings for great leaders 
                                                 of the future.<br /><br />
                                                 Leadership life is a career, the earlier you begin, the better and the greater the experience.<br /><br />
                                                 We believe that true leaders are not born, they are not gifts but are made through developing the character, 
                                                 and vision with the true knowledge of God.<br /><br />
                                                 To us, character development like life itself is a competition.<br /><br />
                                            </p>
                                           
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
									<li>
                                        <div class="ho-ev-date pg-eve-date"><span>MySchool</span><span>since,2015</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Gifted & Talented Students(GTL)</h4>
                                            </a>
											<img src="{% static 'demoschool/images/blog/4.jpg' %}" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
													</li>
												</ul>
											</div>
                                            <p>Gifted and talented students are our pride in MySchool<br /><br />
                                                The Academy is committed to providing an extended and flexible curriculum for gifted 
                                                and talented students. The program allows students to develop their independent 
                                                thinking and inquiry skills in a variety of class-based and external activities.<br /><br />
                                                Exciting and dynamic learning opportunities are available to all students identified as part of the cohort.<br /><br />
                                                They will be given opportunities to participate in the Leadership/inspirational speakers program.<br /><br />
                                                The MySchool will continue to provide unique opportunities to harness the potential of our most able students. 
                                                We aim to ensure they can surpass their expectations.<br /><br />
                                            </p>
                                            
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Go to Admission</a>
                                        </div>
                                    </li>
									 <li>
                                        <div class="ho-ev-date pg-eve-date"><span>Est.</span><span>2015</span>
                                        </div>
                                        <div class="pg-eve-desc pg-blog-desc">
                                            <a href="event-register.html">
                                                <h4>Our Mission</h4>
                                            </a>
											<img src="{% static 'demoschool/images/blog/5.jpg' %}" alt="">
											<div class="share-btn blog-share-btn">
												<ul>
													<li><a href="#"><i class="fa fa-facebook fb1"></i> Share On Facebook</a>
													</li>
													<li><a href="#"><i class="fa fa-twitter tw1"></i> Share On Twitter</a>
													</li>
												
													</li>
												</ul>
											</div>
                                            <p>
                                                MySchool-Academy is committed to an uncompromising Commitment
                                                To excellence and greatness in extraordinary service.
                                                To be an extraordinary leader in leadership training
                                                To soar from the best beyond the borders of excellence.
                                                To set a leading space in discipline, character, and learning.
                                                To raise extraordinary, seasoned, and excellent leaders with Godly fear for the world.
                                                To the God of our trust be the glory
                                                </p>
                                            
                                        </div>
                                        <div class="pg-eve-reg pg-blog-reg">
                                            <a href="blog-details.html">Read more</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pg-pagina">
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!">2</a></li>
                                <li class="waves-effect"><a href="#!">3</a></li>
                                <li class="waves-effect"><a href="#!">4</a></li>
                                <li class="waves-effect"><a href="#!">5</a></li>
                                <li class="waves-effect"><a href="#!"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

    {% endblock section %}