{% extends 'demoschool/index.html' %}
{% load static %}



{% block section %}
<section>
    <div class="head-2">
        <div class="container">
            <div class="head-2-inn head-2-inn-padd-top">
                <h1>D.M.A Photo Gallery</h1>
                <p>Explore the school photo gallery.</p>
                <div class="event-head-sub">
                    <ul>
                        <li>Facilities</li>
                        <li>Activities</li>
                        <li>Students</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>	

<!--SECTION START-->


<section>
    <div class="ed-res-bg">
    <div class="container com-sp pad-bot-70 ed-res-bg">
        <div class="row">
            <div class="cor about-sp h-gal ed-pho-gal">
               
                <ul>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/8.jpg' %}" alt="image1">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/9.jpg' %}" alt="image2">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/10.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/11.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/1.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/2.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/3.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/4.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/5.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/6.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/7.jpg' %}" alt="image3">
                    </li>
                    <li><img class="materialboxed" data-caption="Education master image captions" src="{% static 'demoschool/images/ami/8.jpg' %}" alt="image3">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>
<!--SECTION END-->


{% endblock section %}