{% extends 'portal/portal-home.html' %}
{% load static %}

        <!--**********************************
            Content body start
        ***********************************-->
		{% block content_body %}
        <div class="content-body">
            <div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">E-LEARNING</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Platform</a></li>
					</ol>
                </div>
                <!-- row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Click on the standard/class name to explore</h4>
                            </div>
							{% if user.is_authenticated %}
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th style="width:80px;"><strong>ID</strong></th>
                                                <th><strong>Standard Name</strong></th>
                                                <th><strong>Description</strong></th>
                                                <th><strong>STATUS</strong></th>
                                                <th><strong>ACTION</strong></th>
                                                <th><strong>Fee</strong></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
											{% for standard in standards %} 
                                            <tr>
												
                                                <td><strong>{{ standard.id}}</strong></td>
                                                <td><a href="{% url 'curriculum:subject_list' slug=standard.slug %}"><h4>{{standard.name }}</h4></a></td>
                                                <td>{{ standard.description }}</td>
                                                <td>ACTIVE!</td>
                                                <td><span class="badge light badge-success"><a href="{% url 'curriculum:subject_list' slug=standard.slug %}"><h4>EXPLORE</h4></a> </span></td>
                                                <td>FREE</td>
                                                <td>
													<div class="dropdown">
														<button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
															<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="#">Edit</a>
															<a class="dropdown-item" href="#">Delete</a>
														</div>
													</div>
												</td>
												
                                            </tr>
											{% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					{% endif %}
                        <!-- /# card -->
                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		

		{% endblock content_body %}
        <!--**********************************
            Content body end
        ***********************************-->


       