
{% extends 'portal/portal-home.html' %}
{% load static %}

{% block content_body %}

<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Attendance Sheet</li>
                <li class="breadcrumb-item">Student Attendance Datatable</li>
            </ol>
        </div>
        <!-- row -->
<div class="col-12">
    <div class="card">
        
        <div class="card-body">
            <div class="table-responsive">
<table id="example5" class="display" style="min-width: 100%">
    <thead>
        <tr>
           
            <th>S/N</th>
            <th>Student Code</th>
            <th>Student Name</th>
            <th>Class</th>
            <th>Att. Date</th>
            <th>Att. Status</th>
        </tr>
    </thead>
   
    <tbody>
        {% for s in attendance %}
        <tr>
           
            <td>{{ s.id}}</td>
            <td>{{ s.student_id.user.profile.code }}</td>
            <td>{{ s.student_id.user.first_name }} {{ s.student_id.user.last_name }}</td>
            <td>{{ s.standard }}</td>
            <td>{{ s.date }}</td>
            {% if s.status is True %}
            <td style="color:green;">Present</td>	
            {% else%}
            <td style="color:red;">Nil</td>	
            {% endif %}	
            {% endfor %}									
        </tr>
       
   
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock content_body %}
{% block script %}
<script src="{% static 'portal/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'portal/vendor/chart.js/Chart.bundle.min.js' %}"></script>
	<!-- Apex Chart -->
	<script src="{% static 'portal/vendor/apexchart/apexchart.js' %}"></script>
	
    <!-- Datatable -->
    <script src="{% static 'portal/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'portal/js/plugins-init/datatables.init.jsv"></script>

	<script src="{% static 'portalvendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'portal/js/custom.min.js' %}"></script>
	<script src="{% static 'portal/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'portal/js/demo.js' %}"></script>
    <script src="{% static 'portal/js/styleSwitcher.js' %}"></script>
{% endblock script%}





