{% extends 'portal/portal-home.html'%}
{% load embed_video_tags %}

{% load static %}
{% block title %}<title>Schoolly Lesson Creation </title>{% endblock title %}

{% block content_body%}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">E-Learning</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">DELETE LESSON</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-10 col-xxl-6">
                <div class="card" >
                    <div class="card-header">
                        <h3 class="card-title" style="margin:auto">Are you sure you want to delete the Lesson?</h3>
                      
                        <div class="container">
                        <form method="post">
                            {% csrf_token %}
                            
                            <button type="submit" name="submit" value="delete" class="btn btn-danger mb-2">Yes Delete Lesson</button>
                        
                                                    
                        </form>
                   
                        
                            <h6><a href="{% url 'curriculum:standard_list'  %}"><u>Cancel Delete!</u> </a></h6>
                       
                  </div>
                          </div>      
                                        
                                    </div>
                                </div>
                                
                                    
                                    
                                    
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                              


{% endblock content_body %}
{%block scripts%}
<!-- Required vendors -->

<script src="{% static 'portal/vendor/global/global.min.js' %}"></script>

<script src="{% static 'portal/vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
<script src="{% static 'portal/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<!-- Form validate init -->
<script src="{% static 'portal/js/plugins-init/jquery.validate-init.js' %}"></script>


<!-- Form Steps -->
<script src="{% static 'portal/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
<script src="{% static 'portalvendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'portal/js/custom.min.js' %}"></script>
<script src="{% static 'portal/js/dlabnav-init.js' %}"></script>
<script src="{% static 'portal/js/demo.js' %}"></script>
<script src="{% static 'portal/js/styleSwitcher.js' %}"></script>
<!-- <script>
    $(document).ready(function(){
        // SmartWizard initialize
        $('#smartwizard').smartWizard(); 
    });
</script> -->
{% endblock scripts %}
