{% extends 'inner-page.html' %}


{% block content %}


<div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Login to your account</h4>
          <p>If you are already signed up with us, please login here</p>
        </div>
        <div class="col-lg-12 text-center">
        
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
                <small class="test-muted ml-2">
                    <a href="{% url 'password_reset'%}">Forgot Password?</a>
                    
                </small>
                
            </div>
          </form>
          <div class="border-top" pt-3>
            <small class="text-muted">
                Need A Scholly Account? <a class="ml-2" href="{% url 'contact' %}">Register</a>
            </small>
        </div>
    
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
