{% extends 'inner-page.html' %}


{% block content %}


<div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>Login to your account</h4>
          <p>If you have an account with Schoolly, please login here</p>
        </div>
        <div class="col-lg-12 text-center">
        
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </form>
          <div class="border-top" pt-3>
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Register</a>
            </small>
        </div>
    
        </div>
      </div>
    </div>
  </div>


{% endblock content %}
