

{% extends 'users/user_dashboard.html'%}
{% load crispy_forms_tags %}


{% block content %}
<div class="col-lg-8">
<div class="card mb-4">
    <div class="card-header">
        {% if messages %}
        {% for message in messages %}
        <div class ="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor%}
        {% endif%}
        Update your profile information
    </div>
    <div class="card-body">      
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="">
                <div class="media-body">
                    <h5 class="account-heading">Your Username: "{{ user.username }}" cannot be changed</h5>
                   
                </div>
            </div>
        
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update Profile</button>
                </div>
            </form>

           
        
        </div>
</div>
</div>
</div>


{% endblock content %}