{% extends 'inner-page.html'%}


{% block pagedesc %}

<p> Become an affiliate with Schoolly</p>
{% endblock pagedesc %}
{% block content %}
{% if message_name %}
Thanks {{ message_name }}!<br />
We received your email and will respond shortly
{% endif %}
{% comment %} <section> {% endcomment %}
  <section id="contact" class="contact"> 

    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <p>Affiliate Registration</p>
          <small>
            Schoolly affiliate program is open to interested individual, school, organization and
            marketing experts who want to earn a consistent flow of income.<br />
            It is an affiliate system that offers as much as 25% on each sales.</small>
      </header>

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-box">
                <!-- <i class="bi bi-geo-alt"></i> -->
                <h3>Individual Earning</h3>
                <p>Refer a school and earn a consistent commision on the subscription termly.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <!-- <i class="bi bi-telephone"></i> -->
                <h3>Subscription Free</h3>
                <p>For school that refers another school, enjoy a subscription free benefit for a term.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <!-- <i class="bi bi-envelope"></i> -->
                <h3>We Follow-Up</h3>
                <p>We support our affiliates with necessary assistance, once a prospective customer is identified.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <!-- <i class="bi bi-clock"></i> -->
                <h3>Affilate Training</h3>
                <p>Afffiliate enjoy unlimited access to our complete material and training of the Schoolly application</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="info-box">
                <!-- <i class="bi bi-clock"></i> -->
                <h3>Terms & Policy</h3>
                <p>Ensure you read our full documentation on affiliate terms and policy. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>

        </div>

<div class="col-lg-6">
  <h5>Register as an affiliate</h5>
    
    <form action="{% url 'contact' %}" method="post" >
      {% csrf_token %}
         
        <div class="row gy-4">
          <div class="col-md-9">
            <input type="text" name="fname" class="form-control" placeholder="First Name" required>
            </div>
            
            <div class="col-md-9">
                <input type="text" name="lname" class="form-control" placeholder="Last Name" required>
            </div>
          
          <div class="col-md-9">
            <input type="text" name="phone" class="form-control" placeholder="Phone Number" required>
            </div>
            
            <div class="col-md-9">
                <input type="text" name="email" class="form-control" placeholder="Email" required>
            </div>
          
          <div class="col-md-9">
            <input type="text" name="state" class="form-control" placeholder="State" required>
            </div>
            
            <div class="col-md-9">
                <input type="text" name="job" class="form-control" placeholder="Job Description" required>
            </div>

        <div class="col-md-9">
          <textarea class="form-control" name="message" rows="4" placeholder="Other information or inquiry" required></textarea>
        </div>

        <div class="col-md-12 text-center">
          
          <button type="submit">Send Message</button>
        </div>

      </div>

    </form>

  </div>

</div>

</div>

</section>
{% endblock content %}<!-- End Contact Section-->

{% block footer %}
{% endblock footer %}