{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Schoolly Application</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'pages/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'pages/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'pages/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'pages/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  {% block header %}
  
  
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'pages/assets/img/logo.png' %}" alt="">
        <span>Schoolly</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="{% url 'user_logout' %}">Logout</a></li>
          <li><a href="{% url 'users-dashboard' %}">Dashboard</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="#services">Add-Ons</a></li>
          <li><a class="nav-link scrollto" href="{% url 'affiliate' %}">Affiliate Program</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif%}
    
           
          </li>
          <li><a class="nav-link scrollto" href="{% url 'contact' %} ">Contact</a></li>
          <li><a class="getstarted scrollto" href="{% url 'demo' %}">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  {% endblock header %}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Digital solutions for better optimization</h1>
          <h4 data-aos="fade-up" data-aos-delay="400">Move ahead with Schoolly and get the best digital experience for your school</h4>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{% url 'demo' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Book a demo</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'pages/assets/img/hero-img.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>What is schoolly?</h3>
              <h2>Schoolly is the enterprise way to manage your educational institution without hassles.</h2>
              <p>
                A web application that provides 24/7 all-in-one digital solution to your school system.
                From a simple student's result checker to a swift e-learning system and a comprehensive management
                system that captures and tracks all aspects of your school business activities.
              </p>
              <div class="text-center text-lg-start">
                <a href="{% url 'demo' %}" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Get Started</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'pages/assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>User Friendly</h2> -->
          <p>Compatible, 100% up-time</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{% static 'pages/assets/img/values-1.png' %}" class="img-fluid" alt="">
              <h3>Laptop, Desktop, Phone & Tablets </h3>
              <p>Enjoy the best interface with whichever device you use. </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="{% static 'pages/assets/img/values-2.png' %}" class="img-fluid" alt="">
              <h3>Anywhere, Anytime</h3>
              <p>Have access to your data anytime and anywhere with our 99.99% server uptime</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="{% static 'pages/assets/img/values-3.png' %}" class="img-fluid" alt="">
              <h3>Fit For Your School</h3>
              <p>A bespoke solution that fits the nature of your school system</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
   
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Schoolly Features</h2> -->
          <p>Enterprise Digital Environment</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <img src="{% static 'pages/assets/img/features.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
            <div class="row align-self-center gy-4">

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>E-Learning</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Exams & Test</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Students Management</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Staff / Teachers Mgt</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>School Status Reports</h3>
                </div>
              </div>

              <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
                <div class="feature-box d-flex align-items-center">
                  <i class="bi bi-check"></i>
                  <h3>Accounts Mgt etc.</h3>
                </div>
              </div>

            </div>
          </div>

        </div> <!-- / row -->

        <!-- Feature Tabs -->
        <div class="row feture-tabs" data-aos="fade-up">
          <div class="col-lg-6">
            <h3>Extend your school's digital experience with Schoolly. </h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li>
                <a class="nav-link active" data-bs-toggle="pill" href="#tab1">K-12 education</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab2">Tertiary</a>
              </li>
              <li>
                <a class="nav-link" data-bs-toggle="pill" href="#tab3">Other Academy</a>
              </li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">
                <p>From the very basic of kindergarten to Primary and secondary education we offer you the best solution.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Enrollment, Update, Assignment, Assessments...</h4>
                </div>
                <p>An all-in-one solution for your school, managing students enrollment, updates
                  home-work, test/examination assessments and easy to navigate tools.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Result Tracking, Fees Payment, Attendance...</h4>
                </div>
                <p>Both parents and teachers enjoy the flexibilities of the interface to performance
                  tasks with easily accessible click buttons. download features and unmatched reporting.</p>
              </div>
              
              <!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">
                <p>A bespoke solution fit for the running of any tertiary institutions. comprehensive
                  features that digitally capture all areas of higher education system.
                </p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Online admission, Course reg. CBT...</h4>
                </div>
                <p>Admission processes and online course registration with secure CBT feature.
                  Schoolly e-systems is not limited to e-learning, e-library, CBT alone but offers
                  a comprehensive tertiary education solution.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>E-library, Assessments, e-Learning... </h4>
                </div>
                <p>Study and assessments with an e-learning solution that fits your unique demand.
                  Result and status report generator with real-time hitch-free access.
                </p>
              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <p>Whatever the nature and size of your educational set-up, schoolly solutions make running your academy stress free.</p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Online Registrations, E-learning, E-Library...</h4>
                </div>
                <p>Conducting admission process online is made easy with diverse
                  e-systems that include but not limited to e-learning, e-library, CBT and more.
                </p>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-check2"></i>
                  <h4>Payments, staff/faculty mgt., e-tracking</h4>
                </div>
                <p>Scholly is bundled with a payment solution that enables one-click payment and a 
                  staff/teacher, faculty management system that makes activities easy with enterprise 
                  e-tracking for performance reports.</p>
              </div><!-- End Tab 3 Content -->

            </div>

          </div>

          <div class="col-lg-6">
            <img src="{% static 'pages/assets/img/features-2.png' %}" class="img-fluid" alt="">
          </div>

        </div><!-- End Feature Tabs -->

        <!-- Feature Icons -->
        <div class="row feature-icons" data-aos="fade-up">
          <h3>Get More From Schoolly!</h3>

          <div class="row">

            <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'pages/assets/img/features-3.png' %}" class="img-fluid p-4" alt="">
            </div>

            <div class="col-xl-8 d-flex content">
              <div class="row align-self-center gy-4">

                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="ri-line-chart-line"></i>
                  <div>
                    <h4>Accounts/Finance Mgt.</h4>
                    <p>Track your income and expenses (Fees and associated income plus all expense)</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="ri-stack-line"></i>
                  <div>
                    <h4>Payroll Solutions</h4>
                    <p>A complete solution fit for your school staff finance/time management, </p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="ri-brush-4-line"></i>
                  <div>
                    <h4>Inventory Management</h4>
                    <p>Track all your school's inventory items</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="ri-magic-line"></i>
                  <div>
                    <h4>SMS, Email Notifications</h4>
                    <p>Run live support system with SMS, Email, instant messaging and other notification</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="iconify" data-icon="fa-solid:shuttle-van" style="color: #4e5de2;" data-width="65"></i>
                  <div>
                    <h4>Transportation Mgt.</h4>
                    <p>Manage routes and schedules for pick up and dropping</p>
                  </div>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <i class="ri-radar-line"></i>
                  <div>
                    <h4>Digital Marketing Solutions</h4>
                    <p>Boost your patronage by letting us do your marketing and campaign.</p>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div><!-- End Feature Icons -->

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Services</h2> -->
          <p>Schoolly Add-ons</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Free Digital School</h3>
              <p>Free digital School  seminars for school / per term</p>
              <span class="read-more"><i class="bi bi-arrow-left"></i> <span> Free</span> <i class="bi bi-arrow-right"></i></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Coding Class</h3>
              <p>Coding & Modern programming training for students .</p>
              <a class="read-more"><span><i class="bi bi-arrow-left"> </i>Call</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Web & Mobile Apps</h3>
              <p>Custom software application and mobile app development </p>
              <a class="read-more"><span><i class="bi bi-arrow-left"> </i>Call</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3>Cyber Security Class</h3>
              <p>comprehensive cyber security & Ethical Hacking training</p>
              <a class="read-more"><span><i class="bi bi-arrow-left"> </i>Call</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>AI & Automation</h3>
              <p>Artificial Intelligence and Computer automation training</p>
              <a class="read-more"><span><i class="bi bi-arrow-left"> </i>Call</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3>Cloud Computing</h3>
              <p>DevOps and complete cloud computing training for your students</p>
              <a class="read-more"><i class="bi bi-arrow-left"> </i>Call <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Services Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
           <!-- <h2>Pricing</h2> -->
           <p>Check our Pricing</p>
          </header>
  
          <div class="row gy-4" data-aos="fade-left">
  
            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="box">
                <h3 style="color: #07d5c0;">Schoolly StartPro</h3>
                <div class="price"><sup>=N=</sup>300.00<span>/Term</span></div>
                <img src="{% static 'pages/assets/img/pricing-free.png' %}" class="img-fluid" alt="">
                <ul>
                  <li>Students/Parents Mgt.</li>
                  <li>Teacher/Staff Mgt.</li>
                  <li>Result Checker</li>
                  <li>Status Report</li>
                  <li>Notification</li>
                </ul>
                <span class="btn-buy">StartPro</span>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
              <div class="box">
                <span class="featured">Featured</span>
                <h3 style="color: #65c600;">Schoolly LMSPlus</h3>
                <div class="price"><sup>=N=</sup>550.00<span>/Term</span></div>
                <!-- <div class="price"><sup>=N=</sup>19<span> / termly Plan</span></div> -->
                <img src="{% static 'pages/assets/img/pricing-starter.png' %}" class="img-fluid" alt="">
                <ul>
                  <li>All StartPro</li>
                  <li>E-learning</li>
                  <li>Exams/Test</li>
                  <li>Attendance</li>
                  <li>Notification/Feedback</li>
                  
                  <!-- <li class="na">E-learning</li> -->
                </ul>
                <span class="btn-buy">LMSPlus</span>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <div class="box">
                <h3 style="color: #ff901c;">Schoolly Enterprise</h3>
                <div class="price"><sup>=N=</sup>750.00<span>/ Term</span></div>
                <!-- <div class="price"><sup>$</sup>29<span> / mo</span></div> -->
                <img src="{% static 'pages/assets/img/pricing-business.png' %}" class="img-fluid" alt="">
                <ul>
                  <li>StarterPro + LMSPlus</li>
                  <li>E-learning +</li>
                  <li>Online-Payment</li>
                  <li>Notification/Messaging</li>
                  <li>Live Chat</li>
                </ul>
                <span class="btn-buy">Enterprise</span>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
              <div class="box">
                <h3 style="color: #ff0071;">Schoolly Ultimate</h3>
                <div class="price"><sup>=N=</sup>Call<span>/ Year</span></div>
                <!-- <div class="price"><sup>$</sup>49<span> / mo</span></div> -->
                <img src="{% static 'pages/assets/img/pricing-ultimate.png' %}" class="img-fluid" alt="">
                <ul>
                  <li>+ All Features</li>
                  <li>Independent Server</li>
                  <li>Custom Domain</li>
                  <li>Free Support</li>
                  <li>Annual Renewal</li>
                </ul>
                <span class="btn-buy">Ultimate</span>
              </div>
            </div>
  
          </div>
  
        </div>

    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
         <!-- <h2>F.A.Q</h2> -->
         <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    How do we get trained to use the application?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    A free training is bundled with your subscription to schoolly.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    Do you offer training in other digital skills?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Yes, we offer training to schools both students and staff covering a wide
                    range of subjects from coding, web/mobile apps. development, cyber-security and many more..
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    I'm interested in the referral program?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Our solution encourages individuals and schools to earn as they refer another school, your 
                    school can have a complete term waiver of subsciption if you meet our <a href="#"> referral requirements</a>

                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6">

            <!-- F.A.Q List 2-->
            <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    How long does it take to set up an account?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    In just some few minutes we'll get your account running once your payment is confirmed.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    What happens to the data if my subscription expires ?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    We keep your data in our database for a period of two weeks after which
                    the system flushes out if you dont renew.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    Can we have a customized application for our school?
                  </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    All our products are custom made specifically for your schoool's need, we design based
                    on your preferences.
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->

    <!-- ======= Portfolio Section ======= -->
    

    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
           <!-- <h2>Testimonials</h2> -->
           <p>What they're saying about Schoolly</p>
          </header>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    The Schoolly application brought great relief to the entire school system. 
                    This is a highly remarkable effort from you guys at Schoolly.  .
                  </p>
                  <div class="profile mt-auto">
                    <img src="{% static 'pages/assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                    <h3>Ejike J. Chimaobi</h3>
                    <h4>Proprietor (Abuja)</h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    All the schools under our jurisdiction have completely adopted the Schoolly solutions.
                     its quite awesome. It solves so many problems the schools used to have.
                  </p>
                  <div class="profile mt-auto">
                    <img src="{% static 'pages/assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                    <h3>Mr. Bashir Oladele</h3>
                    <h4>Administrator (Lagos)</h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    When you talk about school management system, to me Schoolly is the best. 
                    The e-learning system is wow! The guys are always on ground to offer amazing support.
                  </p>
                  <div class="profile mt-auto">
                    <img src="{% static 'pages/assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                    <h3>Mrs. Sarah Osakioduwa</h3>
                    <h4>Proprietress (Benin)</h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    We've tried other solutions that didn't actually gave us what we wanted but 
                    since we got onboarded with Scholly the whole system became fun. Kudos to you guys!
                  </p>
                  <div class="profile mt-auto">
                    <img src="{% static 'pages/assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                    <h3>Dr. Adeola Abatan</h3>
                    <h4>Proprietor (Abeokuta) </h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    We are really better with the Schoolly solutions. We subscribed to the full package
                    and it has really made our activities less cumbersome. I encourage other schools to adopt Schoolly.
                  </p>
                  <div class="profile mt-auto">
                    <img src="{% static 'pages/assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                    <h3>Mrs Ngwu</h3>
                    <h4>Proprietress(PH)</h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>

    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
   

    </section><!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    
    </section><!-- End Clients Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
      
          <p>Get in touch</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>2 Oremeji street,<br>Iyana Ipaja, Lagos State</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+234 8162803828<br></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>contact@schoolly.ng<br></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Our support is open 24/7</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="{% url 'contact' %}" method="post" >
              {% csrf_token %}
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  {% if message_name %}
                  Thanks {{ message_name }}!<br />
                  We received your email and will respond shortly
                  {% endif %}
                  
                  <button type="submit">Send Message</button>
                </div>


              </div>
            </form>


          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% block footer %}
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>You can subscribe to our news letter to get updates on products and solutions</p>
          </div>
          <div class="col-lg-6">
            <form action="{% url 'home' %}" method="post" class="">
              {% csrf_token %}
            
                <input type="email" name="email"><input type="submit" value="Subscribe"></span>
            

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/logo.png" alt="">
              <span>Schoolly</span>
            </a>
            <p>The digital solutions for better optimization: 
              Move ahead with Schoolly and get the best digital experience for your school.<br />
              Access to your data anytime and anywhere with our 99.99% server uptime</p>
            <div class="social-links mt-3">
              <p><b>Social handles:</b><br /></p><p></p>
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/schoollyapp" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="webapp">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'affiliate' %}">Become an Affiliate</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="{% url 'demo' %}">Book a demo session</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> School Mgt. System</li>
              <li><i class="bi bi-chevron-right"></i> Web Development</li>
              <li><i class="bi bi-chevron-right"></i> Mobile Apps Dev.</li>
              <li><i class="bi bi-chevron-right"></i> Digital Marketing</li>
              <li><i class="bi bi-chevron-right"></i> ICT Training</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              2 Oremeji Street <br>
              Iyana - Ipaja<br>
              Lagos State <br><br>
              <strong>Phone:</strong> +234 8162803828<br>
              <strong>Email:</strong> contact@schoolly.ng<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Schoolly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
        Schoolly is a product of:  <a href="https://www.fizcos.com">Fizcos Infotech Solutions Ltd.</a>
      </div>
    </div>
  </footer>
  {% endblock footer %}
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'pages/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'pages/assets/js/main.js' %}"></script>

</body>

</html>