{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title %}<title>Schoolly - School Management System</title>{% endblock title%}
  <meta  name="description" content="A school management system that provides an
  all-in-one digital solution for schools. From a simple student's result module to a swift e-learning system,
  bundled with tools and features that capture and track all aspects of school business and academic activities">
  <meta name="keywords" content="schoolly, fizcos infotech solutions, school, management, software, nigeria, lagos, abuja,
  port harcourt">

  <!-- Favicons -->
  <link href="{% static 'pages/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'pages/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'pages/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'pages/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="{% static 'pages/assets/css/variables.css' %}" rel="stylesheet">
  <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static 'pages/assets/css/main.css' %}" rel="stylesheet">

<body>

  <!-- ======= Header ======= -->
 
  <header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'pages/assets/img/logo-full.png' %}" alt="">
        <!-- <h1>HeroBiz<span>.</span></h1> -->
       
      </a>
      {% block navbar %}
      <nav id="navbar" class="navbar">
        <ul>

          <li><a href="{% url 'schoolly_home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="index.html#about">About Schoolly</a></li>
          <li><a class="nav-link scrollto" href="index.html#services">Features</a></li>
          <li><a class="nav-link scrollto" href="index.html#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="index.html#faq">Faq</a></li>
          <li><a href="{% url 'blog:blog_home' %}">Blog</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
         
          </li>
          
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <a class="btn-getstarted scrollto" href="index.html#contact">Book a Demo</a>

    </div>
    {% endblock navbar %}
  </header><!-- End Header -->
  
  {% block slide %}

  <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2>Modern Solution for better <span>Education</span></h2>
      <p>Speed up with Schoolly and get the best digital experience for your school.</p>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=ymA81wkhpr4" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
   
  </section>
  {% endblock slide %}
  {% block content_body %}

  <main id="main">

   
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      {% if message_name %}
      <center style="padding:30px";>
          <h3 style="color:black">Thanks {{ message_name }}!</h3>we received your email and will respond shortly.
          
      </center>
      
      </div>
      {% else %}

      <div class="section-header">
        <h2>Amazing Features</h2>
        <p>Whatever the size and nature of your institution; Schoolly offers you the best solutions to speed up!</p>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'pages/assets/img/services-1.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Students Mgt.</h3>
              </a>
              <p>A powerful students/parents portal with all-in-one features. Results/assessments, payments, notification/feedback etc.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'pages/assets/img/services-2.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Staff Mgt.</h3>
              </a>
              <p>A complete Administrative tool to manage staff roles and permission. Payroll, students assessment and grading etc.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'pages/assets/img/services-3.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>E-Learning</h3>
              </a>
              <p>A suitable e-learning platform with video lessons, textual, presentation, etc. with comments and response enabled features.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'pages/assets/img/services-4.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Finance & Admin.</h3>
              </a>
              <p>Perfom administrative and financial tasks by tracking income, expenses and all associated activities in the best ways.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'pages/assets/img/services-5.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Exams/CBT</h3>
              </a>
              <p>Schoolly comes packed with all tools and features for conducting Computer Based Test, Quiz and Examinations.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
          <div class="service-item">
            <div class="img">
              <img src="{% static 'pages/assets/img/services-6.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="details position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Digital School</h3>
              </a>
              <p>Power your school with tech skills. Engage schoolly free tech training to equip students for career development. </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section>

 <!-- ======= Featured Services Section ======= -->
  <!-- End Service Item -->

        <!-- End Service Item -->
><!-- End Service Item -->
<!-- End Service Item -->

    <!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Optimize with Schoolly</h2>
          <p>Collaborate, reduce running cost. Enhance students and teachers engagment and performance.</p>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="{% static 'pages/assets/img/about.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">Schoolly is the enterprise Software that manage your educational institution without hassles.</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">K-12 EDUCATION</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">TERTIARY</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">OTHER ACADEMY</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">From the very basic of kindergarten to Primary and secondary education we offer you the best solution.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>
                    Enrollments, Assignments, Assessments...</h4>
                </div>
                <p>An all-in-one solution for your school, managing students enrollment, update, home-work, test/examination and assessments with easy to navigate tools.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Results Tracking, Fees Payment, Attendance...</h4>
                </div>
                <p>Both parents and teachers enjoy the flexibilities of the interface to performance tasks with easily accessible buttons. download features and perform query</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Real Time School Management</h4>
                </div>
                <p>Schoolly enables you to manage and track the progress of your school from anywhere accross different device. View and download progress reports with excellent report filtering features.</p>

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <p class="fst-italic">A bespoke solution fit for the running of any tertiary institutions. comprehensive features that digitally capture all areas of higher education system.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Online admission, Course reg. CBT...</h4>
                </div>
                <p>Admission processes and online course registration with secure CBT feature. Schoolly e-systems is not limited to e-learning, e-library, CBT alone but offers a comprehensive tertiary education solution.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>E-library, Assessments, e-Learning...</h4>
                </div>
                <p>Study and assessments with an e-learning solution that fits your unique demand. Result and status report generator with real-time hitch-free access.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Live Tutorials and Interactive Sessions.</h4>
                </div>
                <p> Explore the benefits of tutoring in an online environment, allow your teacher and student to interact in real-time 
                  from different locations.</p>

              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">

                <p class="fst-italic">Whatever the nature or size of your educational set-up, schoolly solutions make running your academy stress-free</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Online Registrations, E-learning, E-Library...</h4>
                </div>
                <p>Conducting student admission online is made easy with diverse e-systems that include but not limited to e-learning, e-library, CBT and more..</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Payments, staff/faculty mgt., e-tracking</h4>
                </div>
                <p>Scholly is bundled with a payment solution that enables one-click payment.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Live Tutorials and Interactive Sessions</h4>
                </div>
                <p>Explore the benefits of tutoring in an online environment, allow your teacher and student to interact in real-time 
                  from different locations.</p>

              </div><!-- End Tab 3 Content -->

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
  <!-- End Clients Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3>Experience the <em>Schoolly</em> Application!</h3>
            <p> A web application that provides 24/7 all-in-one digital solution to school system. From student's result tracking to a swift e-learning system and a comprehensive management system that captures and tracks all aspects of school business activities.</p>
            <a class="cta-btn align-self-start nav-link scrollto" href="index.html#contact">Contact Us</a>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="{% static 'pages/assets/img/cta.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= On Focus Section ======= -->
    <section id="onfocus" class="onfocus">
      <div class="container-fluid p-0" data-aos="fade-up">

        <div class="row g-0">
          <div class="col-lg-6 video-play position-relative">
            <a href="https://www.youtube.com/watch?v=ymA81wkhpr4" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6">
            <div class="content d-flex flex-column justify-content-center h-100">
              <h3>Extend your school's digital experience with Schoolly.</h3>
              <p class="fst-italic">
                An all-in-one solution for your school, managing students enrollment, assignment, 
                test/examination assessments with an easy to navigate tool..
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> Enrollments, Assignments, Assessments...</li>
                <li><i class="bi bi-check-circle"></i> Result Tracking, Fees Payment, Attendance...</li>
                <li><i class="bi bi-check-circle"></i> E-library, e-Learning, Online Course reg. CBT, e-reporting</li>
              </ul>
              <a href="index.html#contact" class="read-more align-self-start nav-link scrollto"><span>Start Now</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End On Focus Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row gy-4 d-flex">

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-binoculars color-cyan"></i>
              <h4>Efficient</h4>
            </a>
          </li><!-- End Tab 1 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-box-seam color-indigo"></i>
              <h4>Scalable</h4>
            </a>
          </li><!-- End Tab 2 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-brightness-high color-teal"></i>
              <h4>Collaborative</h4>
            </a>
          </li><!-- End Tab 3 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-command color-red"></i>
              <h4>User-Friendly</h4>
            </a>
          </li><!-- End Tab 4 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-easel color-blue"></i>
              <h4>Customizable</h4>
            </a>
          </li><!-- End Tab 5 Nav -->

          <li class="nav-item col-6 col-md-4 col-lg-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-map color-orange"></i>
              <h4>Responsive</h4>
            </a>
          </li><!-- End Tab 6 Nav -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row gy-4">
              <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <h3>Schoolly</h3>
                <p class="fst-italic">
                  Pave the paths of your school to success with our top-quality software and applications which 
                  caters for all types of users- Teacher, students and other stakeholders 
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i> Multi-device compatibility</li>
                  <li><i class="bi bi-check-circle-fill"></i> 99.99% Uptime</li>
                  <li><i class="bi bi-check-circle-fill"></i> Real Time School Management.</li>
                </ul>
                <p>
                  All our products comes uniquely design according to your schoool's need, we consider your preference.
                  If you require a website for your school along with the application, 
                  we have a bundle package you can consider.
                </p>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'pages/assets/img/features-1.svg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content 1 -->

          <!-- End Tab Content 4 -->

    </section><!-- End Features Section -->

  <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
 
            </div><!-- End testimonial item -->

          
            </div><!-- End testimonial item -->

            </div><!-- End testimonial item -->

         
            </div><!-- End testimonial item -->

        
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Pricing</h2>
          <p>Our flexible pricing system allows schools to scale accordingly. <br />
            Starting from less than $1 per student, your school will enjoy all
            the features that comes with Schoolly
          </p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item">

              <div class="pricing-header">
                <h3>StartPro</h3>
                <h4><sup>$</sup>0.8<span> / term</span></h4>
              </div>

              <ul>
                <li><i class="bi bi-dot"></i> <span>Students/Parents Mgt.</span></li>
                <li><i class="bi bi-dot"></i> <span>Staff/Teachers Mgt.</span></li>
                <li><i class="bi bi-dot"></i> <span>Results & Assessments</span></li>
                <li><i class="bi bi-dot"></i> <span>Accounts Mgt.</span></li>
                <li><i class="bi bi-dot"></i> <span>Notification & Feedback</span></li>
              </ul>

              <div class="text-center mt-auto">
                <a href="#" class="buy-btn">Order</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="pricing-item featured">

              <div class="pricing-header">
                <h3>LMSPlus</h3>
                <h4><sup>$</sup>1<span> / term</span></h4>
              </div>

              <ul>
                <li><i class="bi bi-dot"></i> <span>All StartPro Features</span></li>
                <li><i class="bi bi-dot"></i> <span>E-learning</span></li>
                <li><i class="bi bi-dot"></i> <span>CBT/Exams</spa></li>
                <li><i class="bi bi-dot"></i> <span>Attendance & classes</spa></li>
                <li><i class="bi bi-dot"></i> <span>Quiz/Test</span></li>
              </ul>

              <div class="text-center mt-auto">
                <a href="#" class="buy-btn">Order</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="600">
            <div class="pricing-item">

              <div class="pricing-header">
                <h3>Ultimate</h3>
                <h4><sup>$</sup>1.5<span> / term</span></h4>
              </div>

              <ul>
                <li><i class="bi bi-dot"></i> <span>StarterPro + LMSPlus</span></li>
                <li><i class="bi bi-dot"></i> <span>E-learning Ultimate</span></li>
                <li><i class="bi bi-dot"></i> <span>Student Community</span></li>
                <li><i class="bi bi-dot"></i> <span>CBT Ultimate</span></li>
                <li><i class="bi bi-dot"></i> <span>Custom Domain</span></li>
              </ul>

              <div class="text-center mt-auto">
                <a href="#" class="buy-btn">Order</a>
              </div>

            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Below are some of the questions our prospects ask. In case you have other questions beyond what 
                is provided here, please contact us through the information on this website.
              </p>
            </div>

            <div class="accordion accordion-flush px-xl-5" id="faqlist">

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    How long does it take to set up for my school?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Your school will be onboarded within 72hrs of signing up for schoolly. 
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="300">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    Do we require special training to get started?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, Schoolly provides FREE training session to get you started with the application.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="400">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                   How secure is our sensitive data online?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    All of your data are 100% secure on our server, we also provide a 24/7 support system.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="500">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    Is the cost negotiable?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Please get in touch with us to discuss your specific need and pricing.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item" data-aos="fade-up" data-aos-delay="600">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    Do you offer other educational services?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Yes, Schoolly is powered by FIZCOS INFOTECH SOLUTIONS an ICT company that provides extensive
                    cutting-edge information technology solutions. 
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("{% static 'pages/assets/img/faq.jpg' %}");'>&nbsp;</div>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->


    <!-- ======= Recent Blog Posts Section ======= -->
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
          <h2>Contact Us/Book a Demo</h2>
          <p>For all enquiries regarding the Schoolly software, feel free to complete the form provided below or reach us through WhatsApp and other contacts provided on this website.</p>
        </div>

      </div>


      <div class="container">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-4">

            <div class="info">
              <h3>Get in touch</h3>
              <p>For all enquiries, complete the form or contact through the information below.</p>

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Schoolly is now available in Nigeria, West Africa, South Africa
                    </p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>contact@schoolly.ng</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-whatsapp flex-shrink-0"></i> 
                <div>
                  <h4>WhatsApp:</h4>
                  <p>+234 816 280 3828</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="{% url 'schoolly_home' %}" method="post" >
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name or School" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md">
                  <input type="phone" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
                </div>
                
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" required rows="12" cols=""></textarea>
              </div>
              <div class="my-3">
                
              </div>
              <div class="text-center"><button type="submit"  class="btn btn-outline-secondary">Send Message</button></div>
              
            </form>
            {% endif %}
            <div></div>
                <div></div>
                <div></div>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  {% endblock content_body %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><img src="{% static 'pages/assets/img/logo-full1.png' %}"></h3>
              <p>
                Move ahead with Schoolly and get the best digital experience for your school. <br>
                <br>
                <strong>WhatsApp:</strong> +234 816 280 3828<br>
                <strong>Email:</strong> contact@schoolly.ng<br>
              </p>
            </div>
          </div>
          {% block footer_nav %}
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Navigation</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="index.html#about">About Schoolly</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="index.html#services">Schoolly Features</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="index.html#faq">FAQ</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="index.html#pricing">Our Pricing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a class="nav-link scrollto" href="index.html#contact">Enquiry</a></li>
            </ul>
          </div>
          {% endblock footer_nav %}

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> Web Design & Dev.</li>
              <li><i class="bi bi-chevron-right"></i> Mobile App Dev.</li>
              <li><i class="bi bi-chevron-right"></i> Project Mgt</li>
              <li><i class="bi bi-chevron-right"></i> ICT Training</li>
           
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Schoolly App</h4>
            <p>Pave the paths of your school to success with our top-quality software and 
              applications which caters for all types of users- Teacher, students and other stakeholders</p>
              <hr>
         
          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal text-center">
      <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Schoolly</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
            Designed by <a href="https://fizcos.com/">Fizcos Infotech Solutions</a>
          </div>
        </div>

        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
          <a href="https://www.twitter.com/schoollyapp" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/schoollyapp" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/schoollyapp" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://wa.me/+2348162803828?text=I'm%20inquiring%20about%20the%20schoolly%20application" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
          
        </div>

      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'pages/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'pages/assets/js/main.js' %}"></script>

</body>

</html>