
 {% extends 'users/user_dashboard.html'%} 

{% block content %}
<div class="col-lg-8">
<div class="card mb-4">
    <div class="card-header">
        Staff List
    </div>
    <div class="card-body">   

    {% if user.is_superuser or user.profile.user_type == 'parent' %}


    <a href="{% url 'staff:staff-pdf' %}">PDF Format</a> - - <a href="{% url 'staff:staff-csv' %}">CSV Format</a>
    <div class="table-responsive-sm">
    <table class = "table">
        <thead class="thead-light">
        <tr>
          <th>Username</th>
          <th>Full Name</th>
          <th>Qualification</th>
        </tr>
    </thead>
        {% for n in stafflist %}
        <tbody>
        <tr>
          <th> {{ n.user.username}}</th>
          <th> {{ n.user.first_name}}  {{ n.user.last_name}} </th>
        <th> {{ n.user.qualification}}</th>
        </tr> 
    </tbody>
        {% endfor %}
        </table>
    </div>


    {% else %}
    <h1> Oops! You do not have permission to view this resource</h1>
    
    {% endif %} 
    
      
</div>
</div>
</div>
</div>
</div> 
{% endblock content %}




