{% extends 'portal/portal-home.html'%}
{% load static %}

{% block content_body %}

		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="card-action coin-tabs mb-2">
						
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-bs-toggle="tab" href="#AllGuest">All Staff</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Pending">Current</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Booked">Basic Class</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Canceled">Junior Sec.</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="tab" href="#Refund">Senior Sec.</a>
							</li>
						</ul>
					</div>
					<div class="d-flex align-items-center mb-2 flex-wrap"> 
						<div class="guest-calendar">
							<div id="reportrange" class="pull-right reportrange" style="width: 100%">
								<span>Staff List</span><b class="caret"></b>
								<i class="fas fa-chevron-down ms-3"></i>
							</div>
						</div>
						<div class="newest ms-3">
							<select class="default-select">
								<option>Newest</option>
								<option>Oldest</option>
							</select>
						</div>	
					</div>
				</div>
				
					<button class="btn btn-outline-info" > <a href="{% url 'staff:staff-pdf' %}">PDF Format</a></button>
					<button class="btn btn-outline-info" > <a href="{% url 'staff:staff-csv' %}">CSV Format</a></button>

					<div class="col-xl-12">
						<div class="card">
							<div class="card-body p-0">
								<div class="tab-content">	
									<div class="tab-pane active show" id="AllGuest">
										<div class="table-responsive">
											<table class="table card-table display mb-4 shadow-hover default-table table-responsive-lg" id="guestTable-all">
												<thead>
													<tr>
														<th class="bg-none">
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="" id="checkAll">
															</div>
														</th>
														<th>Username</th>
														<th>Category</th>
														<th>Department</th>
														<th>Phone</th>
														<th>Marital S.</th>
														<th>Guarantor.</th>
														<th class="text-center">Status</th>
														
													</tr>
												</thead>
												<tbody>
													{% for staff in stafflist %}
													<tr>
														<td>
															<div class="form-check style-1">
															  <input class="form-check-input" type="checkbox" value="">
															</div>
														</td>
														<td>
															<div class="concierge-bx d-flex align-items-center">
																<img class="me-3 rounded" src="{{user.profile.image.url}}" alt="">
																<div>
																	<h5 class="fs-16 mb-0 text-nowrap"><a class="text-black" href="{% url 'staff:staff_detail' staff.id %}">{{ staff.user.username}}</a></h5>
																	<span class="text-primary fs-14">{{ staff.user.first_name}} {{ staff.user.last_name}}</span>
																</div>
															</div>
														</td>
														<td class="text-nowrap">
															<span>{{ staff.user.staffprofile.cat_name}}</span>
														</td>
														<td>
															<div>
																<h5 class="text-nowrap">{{ staff.user.staffprofile.department}}</h5>
																
															</div>
														</td>
														<td>
															<div>
																<h5 class="text-nowrap">{{ staff.user.staffprofile.phone }}</h5>
																<span></span>
															</div>
														</td>
														<td>
														<div>
															<h5 class="text-nowrap">{{ staff.user.staffprofile.marital_status }}</h5>
															<span></span>
														</div>
														
														</td>
														<td>
															<div>
																<h5 class="text-nowrap">{{ staff.user.staffprofile.guarantor_phone }}</h5>
																<span></span>
															</div>
															
															</td>
														<td>
															<div class="center">
																{% if staff.user.staffprofile.is_active == True %}
																<span style="color:green"><b><i>Active</i></b></span>
																{% else %}
																<span style="color:red;"><b><i>Inactive</i></b></span>
																	
																
															</div>
															{% endif %}
														</td>
														
														{% endfor %}
													</tr>	
													
												</tbody>
											</table>
				{% if is_paginated %}

              {% if page_obj.has_previous%}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                 
                {% if page_obj.number == num %}
                  <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
                  
                  {% endfor %}
                 
                  {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Next</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                  {% endif %}

            {% endif %}
	
	

										</div>	
									</div>	
									
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock content_body %}
		<!--**********************************
			
