{% extends 'portal/portal-home.html'%} 
{% block title %}<time>Schoolly Payment Reports</time>{% endblock title%}

{% block content_body %}

<div class="content-body">
    <div class="container-fluid">
        
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="#">ALL PAYMENTS</a></li>
                <li class="breadcrumb-item"><a href="#">Datatable</a></li>
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                 
                    <div class="card-body">
                        <div class="table-responsive">
                          {% if paymentlist %}
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Payment Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Method</th>
                                    <th scope="col">Bank</th>
                                    <th scope="col">Depositor</th>
                                    <th scope="col">Status</th>
             
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for n in paymentlist %}
                                  <tr>
                                    <th>{{ n.user.last_name }}</td>
                                    <td>{{ n.payment_name }}</td>
                                    <td>{{ n.amount_paid }}</td>
                                    <td>{{ n.payment_date}}</td>
                                    <td>{{ n.payment_method }}</td>
                                    <td>{{ n.bank }}</td>
                                    <td>{{ n.depositor }}</td>
                                    {% if n.confirmed is True %}
                                    <td style="color:green;">Confirmed</td>
                                    {% else %}
                                    <td style="color:red;">Not Confirmed</td>
                                    {% endif %}
                                    
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                                
                              </table>
                              {% else %}
                              <h1>You do not have any payment record yet!</h1>
                              {% endif %}
                        </div>
                    </div>
                </div>
            </div>
           </div>
                        </div>
                    </div>
                </div>
            </div>
 {% endblock content_body %}
