{% extends 'users/user_dashboard.html'%} 

{% block content %}
<div class="col-lg-6">
<div class="card mb-4">
    <div class="card-header">
        Make New Payment
    </div>
    <div class="card-body">   
       
    {% if user.is_superuser or user.profile.user_type == 'student' %}
    <a style="text-decoration:none" href="#">
        <div class="col-lg-6 mb-4">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    Make Payment
                    <div class="text-white-90 small">Click here to pay online</div>
                </div>
            </div></a>
        

      {% else %}
    <h1> Oops! You do not have permission to view this resource</h1>
    
    {% endif %} 
      
</div>

</div>



</div>
</div>
<div class="col-lg-6">

    <!-- Dropdown Card Example -->
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Payment Instructions</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
           
            <p> You can make your payment through any of the following methods <br />
            - Bank Tranfer<br />
        - Direct Bank Deposit<br />
    - Online Payment</p>
    <b>Account Details:</b> 0000000000- GTB - Fizcos Academy
        </div>
    </div>
                    
                </div>
            </div>
        </div>
</div> 

</div>



{% endblock content %}




